
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
    		
    	});
    </script>
</head>
<body>
	Here is the home page!
</body>
</html>

