
<html>
	<head>
		<title>Interactive Roster</title>
		<script src="/Scripts/angular.js"></script>
		<script src="/Scripts/angular-route.js"></script>

		<script src="/Scripts/app/app.js"></script>
		<script src="/Scripts/app/data/rosterService.js"></script>
		<script src="/Scripts/app/rosterViewer/rosterListController.js"></script>
		<script src="/Scripts/app/rosterViewer/playerDetailController.js"></script>

	</head>
	<body ng-app="interactiveRosterApp">
		<div >
			<h2>Interactive Roster</h2>
			<div ng-view></div>
		</div>
	</body>
</html>
